# Created by .ignore support plugin (hsz.mobi)
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
/sentiment_set.pickle
/src/ITCS6156MachineLearningCourse/assignment_0/data/
/src/ITCS6156MachineLearningCourse/josiah_laivins_assignment_1/data/
/src/ITCS6156MachineLearningCourse/josiah_laivins_assignment_1/data/climate-change-earth-surface-temperature-data/GlobalLandTemperaturesByMajorCity.csv
/src/ITCS6156MachineLearningCourse/josiah_laivins_assignment_1/data/climate-change-earth-surface-temperature-data/GlobalLandTemperaturesByCountry.csv
/src/ITCS6156MachineLearningCourse/josiah_laivins_assignment_1/data/climate-change-earth-surface-temperature-data/GlobalLandTemperaturesByState.csv
/src/ITCS6156MachineLearningCourse/josiah_laivins_assignment_1/data/climate-change-earth-surface-temperature-data/GlobalTemperatures.csv
/src/ITCS6156MachineLearningCourse/josiah_laivins_assignment_1/data/climate-change-earth-surface-temperature-data/GlobalLandTemperaturesByCity.csv
.DS_Store
.idea/MachineLearning.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
src/.DS_Store
src/ITCS6156MachineLearningCourse/.DS_Store
src/ITCS6156MachineLearningCourse/.ipynb_checkpoints/josiah_laivins_Note-Classification-checkpoint.ipynb
src/ITCS6156MachineLearningCourse/__pycache__/
src/ITCS6156MachineLearningCourse/assignment_0/.DS_Store
src/ITCS6156MachineLearningCourse/assignment_0/.ipynb_checkpoints/
src/ITCS6156MachineLearningCourse/josiah_laivins_assignment_1/.DS_Store
src/ITCS6156MachineLearningCourse/josiah_laivins_assignment_2/.ipynb_checkpoints/
src/ITCS6156MachineLearningCourse/josiah_laivins_assignment_2/__pycache__/
src/ITCS6156MachineLearningCourse/josiah_laivins_assignment_2/data/stack-overflow-2018-developer-survey/
src/ITCS6156MachineLearningCourse/josiah_laivins_assignment_2/util/__pycache__/__init__.cpython-36.pyc
src/ITCS6156MachineLearningCourse/josiah_laivins_assignment_2/util/__pycache__/display_util.cpython-36.pyc
src/ITCS6156MachineLearningCourse/josiah_laivins_assingment_3/.ipynb_checkpoints/
src/ITCS6156MachineLearningCourse/josiah_laivins_assingment_3/__pycache__/
src/ITCS6156MachineLearningCourse/josiah_laivins_assingment_3/poker_q_200.npy
src/ITCS6156MachineLearningCourse/josiah_laivins_assingment_3/rtrace_200.npy
src/ITCS6156MachineLearningCourse/josiah_laivins_assingment_3/steps_200.npy
src/__pycache__/
venv/
/src/ITCS6156MachineLearningCourse/josiah_laivins_assignment_4/data/
src/ITCS6156MachineLearningCourse/josiah_laivins_assignment_4/__pycache__/

